.header {
    padding: 5px;
    text-align: center;
    background: black;
    color: white;
  }

  .header h1 {
    font-family: serif;
    font-size: 60px;
  }
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #660000;
  }
  /*navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block*/
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none; /* Remove underline */
  }
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  div.gallery{
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 300px;
      background-color: white;
  }
  div.gallery:hover{
      border: 1px solid #777;
  }
  div.gallery img{
      width: 100%;
      height: auto;
      background-color: transparent;
  }
  div.desc{
    padding: 15px;
    text-align: center;
    background-color: white;
}
.button-container{
  text-align: center;
}
button {
  background-color: #660000;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  display: inline-block;
  margin: auto;
  position: 50%;
  font-family: serif;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}


/* 
    Created on : Mar 29, 2023, 11:23:54 AM
    Author     : Gevin
*/


